<footer class="bg-light text-center text-lg-start">
	<div class="container">
		<div class="row text-center">

			<div class="sm">
				<p class"contact-mail">
					<a href="mailto:contact@iliadefilms.fr">contact@iliadefilms.fr<a></p>
					</div>

					<div class="sm">
						<p>95 bd de Magenta 75010 PARIS</p>
					</div>
				</p>
			</div>
		</div>

		<div class="text-center p" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2020 Copyright: Iliade &amp; films
		</div>

	</footer>
