<footer class="bg-light text-center text-lg-start fixed-bottom">
	<div class="container">
		<div class="row text-center">
			<a class"contact-mail" href="mailto:contact@iliadefilms.fr">contact@iliadefilms.fr<a></div>
			</div>
		</footer>
