{% extends "base.html.twig" %}

{% block title %}
	{{ category.name }}
{% endblock %}

{% block body %}

	<main class="contrainer">
		<section class="row">
			<div>
				<h1>{{ category.name }}</h1>
			</div>
			<hr>
			{% for movie in movies.data %}
				<div class="col-4">
					<div class="card mb-5">

						<a href="{{ path('movies_details', {"slug": movie.slug}) }}" class="card-link">
							<h3 class="card-header">{{ movie.title }}</h3>
						</a>
						<img src="\images\image1-min.png" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveaspectratio="xMidYMid slice" viewbox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">


					</svg>
				</div>
			</div>
		{% endfor %}
		{% set path = 'categories_list' %}
		{% set slug = category.slug %}
		{% set pages = movies.pages %}
		{% set currentPage = movies.page %}
		{% include "partials/pagination.html.twig" %}

	</section>
</main>{% endblock %}
