{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur le site d'Illiade &amp; films</h1>
			<p class="lead">Illiade &amp; films est une société de production audiovisuel indépendante, spécialisée dans l'animation.</p>
			<hr class="my-4">
			<p>Pour commencer, rendez-vous sur la page de connexion pour utiliser l'application.</p>
			<a class="btn btn-primary btn-lgz" href="{{ path('app_login') }}" role="button">Connexion</a>
		</div>

	</div>
{% endblock %}
