{% extends "base.html.twig" %}

{% block title %}Iliade &amp; films
{% endblock %}
{% block body %}

	<div class="col-5">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<h2>Informations</h2>
			</li>
			<li class="list-group-item">Société créée en 2002</li>
			<li class="list-group-item">France</li>
			<li class="list-group-item">Production déléguée, Coproduction, Production exécutive</li>
			<li class="list-group-item">Producteur : Oury Milsthein</li>
			<li class="list-group-item">Productrice : Manon Messiant</li>
			<li class="list-group-item">Assistante de proudction : Juliette V.P.</li>
		</ul>
	</div>

{% endblock %}
