html {
    height: 100%;
}

/* navbar */

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #1b1818;
}

.navbar-light .navbar-nav .nav-link {
    color: #827b7b;
}

.navbar-toggler {
    background: #d6c6c6;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
    font-size: 18px;
}

.nav-link.active,
.nav-link:focus {
    color: #000000;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #362e2e;
}

/* body */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-row {
    display: flex;
    justify-content: space-between;
}

block-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.item {
    position: relative;
    margin-bottom: 24px;
}

.item img {
    display: block;
    width: 100%;
    height: auto;

    transition: .5s ease;
    backface-visibility: hidden;

}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.col-4:hover .image {
    opacity: 0.3;

}

.col-4:hover .middle {
    opacity: 1;
}

.title {

    color: black;
    font-size: 32px;
    padding: 16px 32px;
    text-shadow: 6px 7px 6px rgb(84, 79, 79);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* footer */