<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>
		<nav>
			{% include "partials/nav.html.twig" %}
		</nav>

		<div class="container"> {% block body %}{% endblock %}
			</div>

			<footer>
				{% include "partials/footer.html.twig" %}
			</footer>
		</body>
	</html>
